.main {
    padding: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .divider {
    height: 1px;
    background-color: #12c0d7;
    margin: 20px 0;
  }
  